<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
  <script type="text/javascript">
	window.onload=function(){
		new Vue({
		el: '#box',
		data: {
			myData: [],
			inputMsg: ''
		},
		methods: {
			get: function(){
				this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/sug',{
				    wd: this.inputMsg,
                    json: 1
			},{
				jsonp: 'cb'
			}).then(function(res){
				this.myData=res.data.s;
			},function(error){
				
			});
			}
		}
	})
	}
  </script>
 </head>
 <body>
  <div id="box">
	<input type="text" v-model="inputMsg" @keyup="get"/>
	<ul>
		<li v-for="value in myData">{{value}}</li>
	</ul>
	<p v-show="myData.length == 0">暂无数据......</p>
  </div>
 </body>
</html>
